<% include ../partials/header%>

    <div class="row">
        <% products.forEach(function(Product){ %>
            <div class="col-md-4 col-sm-6 mt-3">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top mx-auto d-block" src="<%=Product.imagePath%>" alt="Card image cap" class="img-responsive">
                    <div class="card-body">
                        <h6 class="card-title"><%=Product.title%></h6>
                        <p class="card-text"><%=Product.description%></p>
                        <div>
                            <div class="price pull-left">$<%=Product.price%></div>
                            <a href="/add-to-cart/<%=Product._id%>" class="btn btn-success pull-right">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
<% include ../partials/footer%>